<div class="card d-flex justify-content-between animated fadeIn fast" style="flex-direction: row !important;">
    <h3>Módulo de Consultas</h3>
    <div>
        <p-button label="Agendar Consulta" [routerLink]="['/consultas/registro']" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active" styleClass="p-button-rounded p-button-success"></p-button>
    </div>
</div>

<div class="grid">

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <span class="block text-500 font-medium mb-4">Consultas programadas para el día de hoy</span>
            <div class="flex justify-content-center mb-3">
                <div>
                    <div class="mb-3">
                        <p-button label="Consultar" routerLinkActive="router-link-active" (click)="listarCitasDia()"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>&nbsp;&nbsp;
                        <p-button label="Limpiar tabla" routerLinkActive="router-link-active" (click)="limpiarTabla()"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <span class="block text-500 font-medium mb-3">Consultas programadas para una fecha seleccionada</span>
            <div class="flex justify-content-center mb-3">
                <div>
                    <div class="mb-3">
                        <p-calendar [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <span class="block text-500 font-medium mb-4">Listar todas las consultas</span>
            <div class="flex justify-content-center mb-3">
                <div>
                    <div class="mb-3">
                        <p-button label="Consultar" (click)="listarTodasCitas()" (click)="limpiarTabla()"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>&nbsp;&nbsp;
                        <p-button label="Limpiar tabla" (click)="limpiarTabla()"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card animated fadeIn" *ngIf="consultas.length >= 1">
    <div>
        <p>
            <span class="text-500 font-medium">Total consultas: </span>
            <span class="font-weight-bold">({{ consultas.length }})</span>
        </p>
    </div>
    
    <p-table #dt1 [value]="consultas" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:4rem">
                    <div class="flex align-items-center">
                        #
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="text-center">
                        Nombres
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="text-center">
                        Apellidos
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Teléfono
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="text-center">
                        Fecha
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex justify-content-center align-items-center">
                        <span>Opciones</span>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex justify-content-center align-items-center">
                        <span>Consulta realizada</span>
                    </div>
                </th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consulta let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex + 1}}
                </td>
                <td class="text-center">
                    {{consulta.nombres}}
                </td>
                <td class="text-center">
                    {{ consulta.apellidos }}
                </td>
                <td>
                    {{ consulta.telefono }}
                </td>
                <td class="text-center">
                    <small class="text-muted">
                        <i class=" pi pi-calendar" aria-hidden="true"></i> {{consulta.fecha | date : 'dd/MM/yyyy' }}
                        &nbsp;&nbsp;
                        <i class="pi pi-clock" aria-hidden="true"></i> {{consulta.hora}} &nbsp;&nbsp;
                    </small>
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                            [routerLink]="['/consultas/editar', consulta._id]" pTooltip="Editar"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                            (click)="abrirModalEliminarCita(consulta)" pTooltip="Eliminar"></button>
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-center">
                        <p-inputSwitch [(ngModel)]="consulta.realizada"
                            (ngModelChange)="changeState(consulta._id)"></p-inputSwitch>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se han encontrado usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card text-center animated fadeIn" *ngIf="consultas.length == 0">
    <div class="alert alert-primary" role="alert">
        No hay consultas programadas.
    </div>
</div>

<!-- Modal eliminar cliente -->
<p-dialog header="Confirmar" [(visible)]="modalEliminarCita" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <div class="text-center">

        <div class="mb-5">
            <img [src]="imgAlerta" alt="Faild" style="width: 90px;">
        </div>

        <p>¿Realmente deseas eliminar al consulta agendada a <strong>{{cosultaSelected.nombres}}
                {{cosultaSelected.apellidos}}</strong>?<strong> Este proceso no se puede deshacer. </strong></p>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="eliminarCita()" label="Sí, eliminar"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="modalEliminarCita = false" label="Cancelar"
            styleClass="p-button-danger p-button-text"></p-button>
    </ng-template>

</p-dialog>