<div class="card d-flex justify-content-between" style="flex-direction: row !important;">
    <h3>Módulo de Consultas</h3>
    <div>
        <p-button label="Crear" routerLinkActive="router-link-active" routerLink="/usuarios/registro"
            styleClass="p-button-rounded p-button-success"></p-button>
    </div>
</div>

<div class="grid">

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <span class="block text-500 font-medium mb-4">Consultas programadas para el día de hoy</span>
            <div class="flex justify-content-center mb-3">
                <div>
                    <div class="mb-3">
                        <p-button label="Listar consultas" routerLinkActive="router-link-active"
                            (click)="tableShow = true"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>&nbsp;&nbsp;
                        <p-button label="Limpiar tabla" routerLinkActive="router-link-active"
                            (click)="tableShow = false"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>
                    </div>
                </div>
            </div>
            <span class="block text-500 font-medium mb-6">Total consultas:<div class="text-900 font-medium text-xl">152</div>
            </span>

        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div><span class="block text-500 font-medium mb-3">Consultas programadas para una fecha seleccionada</span>
                    <span class="block text-500 font-medium flex justify-content-center">Selecciona una fecha</span>
                    <div class="col-md-12 form-group">
                        <div class="flex justify-content-center mb-3">
                            <p-calendar [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)"></p-calendar>
                        </div>
                    </div>
                    <span class="block text-500 font-medium">Total consultas:<div class="text-900 font-medium text-xl">
                            152</div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <span class="block text-500 font-medium mb-4">Listar todas las consultas</span>
            <div class="flex justify-content-center mb-3">
                <div>
                    <div class="mb-3">
                        <p-button label="Listar consultas" routerLinkActive="router-link-active"
                            (click)="tableShow = true"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>&nbsp;&nbsp;
                        <p-button label="Limpiar tabla" routerLinkActive="router-link-active"
                            (click)="tableShow = false"
                            styleClass="p-button-raised p-button-text p-button-info p-button-sm"></p-button>
                    </div>
                </div>
            </div>
            <span class="block text-500 font-medium mb-6">Total consultas:<div class="text-900 font-medium text-xl">152
                </div>
            </span>

        </div>
    </div>
</div>

<div class="card" *ngIf="tableShow">
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Fecha consulta</th>
            <th>Hora consulta</th>
        </tr>

        <tbody>
            <td>Juan Manuel</td>
            <td>Gallego Toro</td>
            <td>1053854254</td>
            <td>09-05-2023</td>
            <td>10:22 AM</td>
        </tbody>

    </table>
</div>