<!-- Page title-->
<div class="border-bottom mb-5 animated fadeIn fast">
    <h1 class="mt-2 mt-md-4 mb-3">Historia Clínica</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo permite registrar el resultado de la consulta para un paciente.</p>

    </div>
</div>

<form #form="ngForm" (ngSubmit)="crearHistoriaClinica(form)" class="animated fadein">
    <div class="card box-shadow-sm">
        
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Registro de consulta</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-12 ">
                    <label for="validationCustom01" class="form-label">Motivo </label>
                    <textarea class="form-control" rows="4" style="width: 100%;" [(ngModel)]="historiaClinica.motivo" name="motivo" placeholder="Motivo de la consulta" required ></textarea>
                </div>

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Edad (en años)</label>
                    <input class="form-control" type="text" name="edad" [value]="edad" [(ngModel)]="historiaClinica.edad" disabled required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Ocupación</label>
                    <input class="form-control" type="text" name="ocupacion" [(ngModel)]="historiaClinica.ocupacion" placeholder="Ocupación" required>
                </div>

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Antecedentes</label>
                    <input class="form-control" type="text" name="antecedentes" [(ngModel)]="historiaClinica.antecedentes" placeholder="Antecedentes médicos" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Fecha de creación</label>
                    <input class="form-control" name="fNacimiento" [(ngModel)]="historiaClinica.createdAt" type="date">
                </div>             
                
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">RX EN USO</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">OD</label>
                    <input class="form-control" type="text" name="odUso" [(ngModel)]="historiaClinica.odUso" placeholder="RX ojo derecho">
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">A.V.</label>
                    <input class="form-control" type="text" name="odAVUso" [(ngModel)]="historiaClinica.odAVUso" placeholder="Agudeza visual ojo derecho">
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">OI</label>
                    <input class="form-control" type="text" name="oiUso" [(ngModel)]="historiaClinica.oiUso" placeholder="RX ojo izquierdo">
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">A.V.</label>
                    <input class="form-control" type="text" name="oiAVUso" [(ngModel)]="historiaClinica.oiAVUso" placeholder="Agudeza visual ojo izquierdo">
                </div>                
                
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">A.V. (SC)</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OD</label>
                    <input class="form-control" type="text" name="odAVSC" [(ngModel)]="historiaClinica.odAVSC" placeholder="RX ojo derecho" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OI</label>
                    <input class="form-control" type="text" name="oiAVSC" [(ngModel)]="historiaClinica.oiAVSC" placeholder="RX ojo izquierdo" required>
                </div>               
                          
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">BIOMICROSCOPIA</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OD</label>
                    <input class="form-control" type="text" name="odBio" [(ngModel)]="historiaClinica.odBio" placeholder="RX ojo derecho">
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OI</label>
                    <input class="form-control" type="text" name="oiBio" [(ngModel)]="historiaClinica.oiBio" placeholder="RX ojo izquierdo">
                </div>               
                          
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">FONDO DE OJO</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OD</label>
                    <input class="form-control" type="text" name="odFondo" [(ngModel)]="historiaClinica.odFondo" placeholder="RX ojo derecho">
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">OI</label>
                    <input class="form-control" type="text" name="oiFondo" [(ngModel)]="historiaClinica.oiFondo" placeholder="RX ojo izquierdo">
                </div>               
                         
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">RX FINAL</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">OD</label>
                    <input class="form-control" type="text" name="odFinal" [(ngModel)]="historiaClinica.odFinal" placeholder="RX ojo derecho" required>
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">A.V.</label>
                    <input class="form-control" type="text" name="odAVF" [(ngModel)]="historiaClinica.odAVF" placeholder="Agudeza visual ojo derecho" required>
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">Ojo izquierdo </label>
                    <input class="form-control" type="text" name="oiFinal" [(ngModel)]="historiaClinica.oiFinal" placeholder="RX ojo izquierdo" required>
                </div>
                <div class="col-md-3 form-group">
                    <label for="validationCustom01" class="form-label">A.V. </label>
                    <input class="form-control" type="text" name="odAVF" [(ngModel)]="historiaClinica.odAVF" placeholder="Agudeza visual ojo izquierdo" required>
                </div>
                <div class="col-md-2 form-group">
                    <label for="validationCustom01" class="form-label">D.P </label>
                    <input class="form-control" type="text" name="dp" [(ngModel)]="historiaClinica.dp" placeholder="Distancia pupilar" required>
                </div>               
                         
            </div>
        </div>

        <div class="card-header text-center">
            <h5 style="margin-bottom: 0px;">DIAGNOSTICO FINAL</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Ojo derecho </label>
                    <input class="form-control" type="text" name="odDx" [(ngModel)]="historiaClinica.odDx" placeholder="RX ojo derecho" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Ojo izquierdo </label>
                    <input class="form-control" type="text" name="oiDx" [(ngModel)]="historiaClinica.oiDx" placeholder="RX ojo izquierdo" required>
                </div>             
                <div class="col-12 ">
                    <label for="validationCustom01" class="form-label">Observaciones </label>
                    <textarea class="form-control" rows="4" style="width: 100%;" [(ngModel)]="historiaClinica.observaciones" name="observaciones" placeholder="Observaciones" required ></textarea>
                </div>       
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">Tipo de lente</label>
                    <select class="form-control custom-select" name="tipoLente" [(ngModel)]="historiaClinica.tipoLente" required>
                        <option disabled selected value="">Selecciona el tipo de lente</option>
                        <option value="MONOFOCAL">MONOFOCAL</option>
                        <option value="BIFOCAL">BIFOCAL</option>
                        <option value="MULTIFOCAL">MULTIFOCAL</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="validationCustom01" class="form-label">CONTROL</label>
                    <select class="form-control custom-select" name="control" [(ngModel)]="historiaClinica.control" required>
                        <option disabled selected value="">Selecciona el tiempo para el próximo control</option>
                        <option value="1 AÑO">1 AÑO</option>
                        <option value="6 MESES">6 MESES</option>
                        <option value="3 MESES">3 MESES</option>
                        <option value="2 MESES">2 MESES</option>
                        <option value="1 MES">1 MES</option>
                        <option value="1 SEMANA">1 SEMANA</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <button  type="submit" class="btn btn-primary mr-3">Registrar</button>
            <button type="button" class="btn btn-warning mr-3" [routerLink]="['/usuarios/inicio']">Cancelar</button>            
        </div>
    </div>
</form>
