<div class="border-bottom mb-5 animated fadeIn">
    <h1 class="mt-2 mt-md-4 mb-3">Agenda Llamadas</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo permite visualizar los clientes que se realizaron el examen visual hace 350
            días.</p>

    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
        <div class="form-group">
            <h4>Búsqueda por rango de fechas</h4>
            <select class="form-control" id="inputFecha" [(ngModel)]="rangoSelected" (change)="handleFecha()">
                <option value="0">-- Sin rango de fechas --</option>
                <option value="365">Un año</option>
                <option value="180">Seis meses</option>
                <option value="90">Tres meses</option>
                <option value="60">Dos meses</option>
                <option value="30">Un mes</option>
                <option value="7">Una semana</option>
            </select>
        </div>
    </div>
</div>

<div class="card animated fadeIn">
    <p-table #dt1 [value]="clientes" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombres
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Apellidos
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Número de Identificación
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Número de celular
                    </div>
                </th>

                <th style="min-width:10rem">
                    <div class="flex justify-content-center align-items-center">
                        <span>Notificado</span>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    {{ cliente.nombres }}
                </td>
                <td>
                    {{ cliente.apellidos }}
                </td>
                <td>
                    {{ cliente.identificacion }}
                </td>
                <td>
                    {{ cliente.telefono}}
                </td>
                <td>
                    <div class="flex justify-content-center">
                        <p-inputSwitch [(ngModel)]="cliente.llamado"
                            (ngModelChange)="changeState(cliente._id)"></p-inputSwitch>
                    </div>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se han encontrado usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>