<div class="card d-flex justify-content-between animated fadeIn" style="flex-direction: row !important;">
    <h3>Historia Clínica <span class="text-muted">/ {{cliente.datos?.nombres}} {{cliente.datos?.apellidos}}</span></h3>

    <div>
        <p-button label="Regresar" routerLinkActive="router-link-active" [routerLink]="['/usuarios/inicio']"
            styleClass="p-button-rounded p-button-warning mr-2"></p-button>
        <p-button label="Crear" routerLinkActive="router-link-active"
            [routerLink]="['/usuarios/historia-clinica/registro', id]"
            styleClass="p-button-rounded p-button-success"></p-button>
    </div>
</div>

<div class="card animated fadeIn" *ngIf="historiasClinicas.length > 0">
    <p-table #dt1 [value]="historiasClinicas" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:4rem">
                    <div class="flex align-items-center">
                        #
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="text-center">
                        Fecha
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="text-center">
                        Edad
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        RX Ojo derecho
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        RX Ojo izquierdo
                    </div>
                </th>

                <th style="min-width:10rem">
                    <div class="flex justify-content-center align-items-center">
                        <span>Opciones</span>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-historiaClinica let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex + 1}}
                </td>
                <td class="text-center">
                    <small class="text-muted">
                        <i class=" pi pi-calendar" aria-hidden="true"></i> {{historiaClinica.createdAt | date :
                        'dd/MM/yyyy' }} &nbsp;&nbsp;
                        <i class="pi pi-clock" aria-hidden="true"></i> {{historiaClinica.createdAt | date : 'mediumTime'
                        }} &nbsp;&nbsp;
                    </small>
                </td>

                <td class="text-center">
                    {{ historiaClinica.edadRealizaExamen }} años
                </td>
                <td>
                    {{ historiaClinica.odFinal }}
                </td>
                <td>
                    {{ historiaClinica.oiFinal }}
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-text"
                            (click)="detalle(historiaClinica)" pTooltip="Imprimir historia clínica"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                            (click)="abrirModalEliminarHistoriaClinica(rowIndex)"
                            pTooltip="Eliminar historia clínica"></button>
                    </div>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se han encontrado usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card text-center" *ngIf="historiasClinicas.length == 0">
    <div class="alert alert-primary" role="alert">
        El paciente no tiene historias clínicas registradas!
    </div>
</div>

<!-- Modal imprimir historia clínica -->
<p-dialog header="Confirmar" [(visible)]="modalImprimir" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="text-center">

        <div class="card box-shadow-sm">
            <div class="card-header">
                <h5 style="margin-bottom: 0px;">Imprimir historia clínica</h5>
            </div>

            <div class="card-body">
                <div class="row">
    
                    <div class="col-12 ">
                        <label for="validationCustom01" class="form-label">Motivo </label>
                        <textarea rows="4" style="width: 100%;" [(ngModel)]="historiaClinicaAImprimir.motivo" name="motivo" placeholder="Motivo de la consulta" disabled ></textarea>
                    </div>
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Edad (en años)</label>
                        <input class="form-control" type="text" name="edad" [value]="historiaClinicaAImprimir.edadRealizaExamen" [(ngModel)]="historiaClinicaAImprimir.edad" disabled disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Ocupación</label>
                        <input class="form-control" type="text" name="ocupacion" [(ngModel)]="historiaClinicaAImprimir.ocupacion" placeholder="Ocupación" disabled>
                    </div>
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Antecedentes</label>
                        <input class="form-control" type="text" name="antecedentes" [(ngModel)]="historiaClinicaAImprimir.antecedentes" placeholder="Antecedentes médicos" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Fecha de creación</label>
                        <input class="form-control" name="fNacimiento" [(ngModel)]="historiaClinicaAImprimir.createdAt" type="text" disabled>
                    </div>             
                    
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">RX EN USO</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">OD</label>
                        <input class="form-control" type="text" name="odUso" [(ngModel)]="historiaClinicaAImprimir.odUso" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">A.V.</label>
                        <input class="form-control" type="text" name="odAVUso" [(ngModel)]="historiaClinicaAImprimir.odAVUso" placeholder="Agudeza visual ojo derecho" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">OI</label>
                        <input class="form-control" type="text" name="oiUso" [(ngModel)]="historiaClinicaAImprimir.oiUso" placeholder="RX ojo izquierdo" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">A.V.</label>
                        <input class="form-control" type="text" name="oiAVUso" [(ngModel)]="historiaClinicaAImprimir.oiAVUso" placeholder="Agudeza visual ojo izquierdo" disabled>
                    </div>                
                    
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">A.V. (SC)</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OD</label>
                        <input class="form-control" type="text" name="odAVSC" [(ngModel)]="historiaClinicaAImprimir.odAVSC" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OI</label>
                        <input class="form-control" type="text" name="oiAVSC" [(ngModel)]="historiaClinicaAImprimir.oiAVSC" placeholder="RX ojo izquierdo" disabled>
                    </div>               
                              
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">BIOMICROSCOPIA</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OD</label>
                        <input class="form-control" type="text" name="odBio" [(ngModel)]="historiaClinicaAImprimir.odBio" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OI</label>
                        <input class="form-control" type="text" name="oiBio" [(ngModel)]="historiaClinicaAImprimir.oiBio" placeholder="RX ojo izquierdo" disabled>
                    </div>               
                              
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">FONDO DE OJO</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OD</label>
                        <input class="form-control" type="text" name="odFondo" [(ngModel)]="historiaClinicaAImprimir.odFondo" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">OI</label>
                        <input class="form-control" type="text" name="oiFondo" [(ngModel)]="historiaClinicaAImprimir.oiFondo" placeholder="RX ojo izquierdo" disabled>
                    </div>               
                             
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">RX FINAL</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">OD</label>
                        <input class="form-control" type="text" name="odFinal" [(ngModel)]="historiaClinicaAImprimir.odFinal" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">A.V.</label>
                        <input class="form-control" type="text" name="odAVF" [(ngModel)]="historiaClinicaAImprimir.odAVF" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">OI</label>
                        <input class="form-control" type="text" name="oiFinal" [(ngModel)]="historiaClinicaAImprimir.oiFinal" placeholder="RX ojo izquierdo" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="validationCustom01" class="form-label">A.V. </label>
                        <input class="form-control" type="text" name="oiAVF" [(ngModel)]="historiaClinicaAImprimir.oiAVF" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="validationCustom01" class="form-label">D.P </label>
                        <input class="form-control" type="text" name="dp" [(ngModel)]="historiaClinicaAImprimir.dp" placeholder="Distancia pupilar" disabled>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="validationCustom01" class="form-label">ADD</label>
                        <input class="form-control" type="text" name="add" [(ngModel)]="historiaClinicaAImprimir.add" placeholder="Distancia pupilar" disabled>
                    </div>               
                             
                </div>
            </div>
    
            <div class="card-header text-center">
                <h5 style="margin-bottom: 0px;">DIAGNOSTICO FINAL</h5>
            </div>
            <div class="card-body">
                <div class="row">
    
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Ojo derecho </label>
                        <input class="form-control" type="text" name="odDx" [(ngModel)]="historiaClinicaAImprimir.odDx" placeholder="RX ojo derecho" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Ojo izquierdo </label>
                        <input class="form-control" type="text" name="oiDx" [(ngModel)]="historiaClinicaAImprimir.oiDx" placeholder="RX ojo izquierdo" disabled>
                    </div>             
                    <div class="col-12 ">
                        <label for="validationCustom01" class="form-label">Observaciones </label>
                        <textarea rows="4" style="width: 100%;" [(ngModel)]="historiaClinicaAImprimir.observaciones" name="observaciones" placeholder="Observaciones" disabled ></textarea>
                    </div>       
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">Tipo de lente</label>
                        <input class="form-control" type="text" name="tipoLente" [(ngModel)]="historiaClinicaAImprimir.tipoLente" placeholder="RX ojo izquierdo" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="validationCustom01" class="form-label">CONTROL</label>
                        <input class="form-control" type="text" name="control" [(ngModel)]="historiaClinicaAImprimir.control" placeholder="RX ojo izquierdo" disabled>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-print" (click)="imprimirHistoriaClinica()" label="Imprimir"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="modalImprimir = false" label="Cancelar"
            styleClass="p-button-danger p-button-text"></p-button>
    </ng-template>

</p-dialog>

<!-- Modal eliminar historia clínica -->
<p-dialog header="Confirmar" [(visible)]="modalEliminarHistoriaClinica" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <div class="text-center">

        <div class="mb-5">
            <img [src]="imgAlerta" alt="Faild" style="width: 90px;">
        </div>

        <p>¿Realmente deseas eliminar esta historia clínica? <Strong>Este proceso no se puede deshacer.</Strong></p>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="eliminarHistoriaClinica()" label="Sí, eliminar"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="modalEliminarHistoriaClinica = false" label="Cancelar"
            styleClass="p-button-danger p-button-text"></p-button>
    </ng-template>

</p-dialog>