
<div class="container">
    <div class="row justify-content-between">
        <div class="col-2 text-center">
            <img src="assets/images/logo3.png" alt="imagen optica" width="150%" >
        </div>
        <div class="col-3 text-center" style="margin-bottom: -30px;">
            <p style="height: 1em; margin: 0;">Carrera 22 # 26-57</p>
            <p style="height: 1em; margin: 0;">Manizales</p>
            <h5 style="height: 1em; margin: 0;">Cuidado profesional para tus ojos</h5>
        </div>
        
    </div>
    <div class="col-12">
        <h2 class="text-center">
            Historia Clínica
        </h2>
    </div>
</div>


<div class="container">
    <div class="card-body">
        <div class="row">

            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Nombres</label>
                <input class="form-control" [(ngModel)]="cliente.datos.nombres" type="text" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Apellidos</label>
                <input class="form-control" [(ngModel)]="cliente.datos.apellidos" type="text" disabled>
            </div>            
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Número de documento</label>
                <input class="form-control" [(ngModel)]="cliente.datos.identificacion" type="text" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Fecha de consulta</label>
                <input class="form-control" [(ngModel)]="historiaClinicaAImprimir.createdAt" type="text" disabled>
            </div>
            
        </div>
    </div>

    <div class="card-header text-center">
        <h5 style="margin-bottom: 0px;">RX FINAL</h5>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">Ojo derecho</label>
                <input class="form-control" type="text" name="odFinal" [(ngModel)]="historiaClinicaAImprimir.odFinal" placeholder="RX ojo derecho" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">A.V.</label>
                <input class="form-control" type="text" name="odAVF" [(ngModel)]="historiaClinicaAImprimir.odAVF" placeholder="Agudeza visual ojo derecho" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">Ojo izquierdo </label>
                <input class="form-control" type="text" name="oiFinal" [(ngModel)]="historiaClinicaAImprimir.oiFinal" placeholder="RX ojo izquierdo" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">A.V. </label>
                <input class="form-control" type="text" name="oiAVF" [(ngModel)]="historiaClinicaAImprimir.oiAVF" placeholder="Agudeza visual ojo izquierdo" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">D.P. </label>
                <input class="form-control" type="text" name="dp" [(ngModel)]="historiaClinicaAImprimir.dp" placeholder="Distancia pupilar" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="validationCustom01" class="form-label">ADD</label>
                <input class="form-control" type="text" name="add" [(ngModel)]="historiaClinicaAImprimir.add" placeholder="ADD" disabled>
            </div>               
                        
        </div>
    </div>

    <div class="card-header text-center">
        <h5 style="margin-bottom: 0px;">DIAGNOSTICO FINAL</h5>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Ojo derecho </label>
                <input class="form-control" type="text" name="odDx" [(ngModel)]="historiaClinicaAImprimir.odDx" placeholder="RX ojo derecho" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Ojo izquierdo </label>
                <input class="form-control" type="text" name="oiDx" [(ngModel)]="historiaClinicaAImprimir.oiDx" placeholder="RX ojo izquierdo" disabled>
            </div>             
            <div class="col-12 ">
                <label for="validationCustom01" class="form-label">Observaciones </label>
                <textarea class="form-control" rows="4" style="width: 100%;" [(ngModel)]="historiaClinicaAImprimir.observaciones" name="observaciones" placeholder="Observaciones" disabled></textarea>
            </div>       
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">Tipo de lente</label>
                <input class="form-control" type="text" name="tipoLente" [(ngModel)]="historiaClinicaAImprimir.tipoLente" placeholder="RX ojo izquierdo" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="validationCustom01" class="form-label">CONTROL</label>
                <input class="form-control" type="text" name="control" [(ngModel)]="historiaClinicaAImprimir.control" placeholder="RX ojo izquierdo" disabled>
            </div>
        </div>
    </div>
</div>
            
    
    
